body{
  background-color: #F0C0F3;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  h1 {
    display: flex;
    flex-direction: row;
    justify-content: Center;
    font-weight: bold;
  }

  h2{
    display: flex;
    flex-direction: row;
    justify-content: Center;
  }

  img{
    width: 99%;
    block-size: auto;
    
  }

  #timeline {
    max-inline-size: 55;
    block-size: auto;
    object-fit: contain;
    /*background-color: #F4E6F4;*/
    padding: 1.5 rem;
  }


  @media only screen and (max-width: 650px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: Center;
    }


    img{
      width: 75%;
      block-size: auto;
      align-items: center;
    }
  }

  /*img{
    max-inline-size: 55%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: contain;
  }

    p {
    margin-left: 0px;
    overflow:auto;
    display:block;
    }


    #timeline {
    max-inline-size: 55%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: contain; 
    }
*/
